body {
  background-color: rgba(131, 179, 211, 0.2);
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.card {
  margin: 7px;
}

.image {
  border-radius: 40px;
  width: 100%;
  height: 100%;
}
